<section class="footer">
	<div class="container">
		<ul class="nav navbar-nav">
			<li>#html</li>
			<li>#css/sass</li>
			<li>#bootstrap</li>
			<li>#goodStyle</li>
			<li>#js</li>
			<li>#angularJS</li>
		</ul>
		<p class="copyright">Moebius labs © We are looking for front-end developer 2016</p>
		<div class="social-btn">
			<a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
		</div>
	</div>
</section>